@import "tailwindcss";
@tailwind utilities;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 1265px) {
  .hero-text {
    font-size: 25px !important; 
    line-height: 1.3 !important;
  }
}
@media (max-width: 767px) {
  .low-title {
    font-size: 25px !important;
    line-height: 1.3 !important;
    text-align: center !important;
    white-space: normal !important;
  }
  .contacts{
    margin-top: -10px;
  }
}

